In [47]:
library(jsonlite)
library(tidyr)
library(ggplot2)

In [48]:
currency_code_vector<-c('AED', 'AFN', 'ALL', 'AMD', 'ANG', 'AOA', 'ARS', 'AUD', 'AWG', 'AZN',
                        'BAM', 'BBD', 'BDT', 'BGN', 'BHD', 'BIF', 'BMD', 'BND', 'BOB', 'BRL', 'BSD', 'BTC', 'BTN', 'BWP', 'BYN', 'BZD',
                        'CAD', 'CDF', 'CHF', 'CLF', 'CLP', 'CNH', 'CNY', 'COP','CRC', 'CUC', 'CUP','CVE','CZK',
                        'DJF', 'DKK', 'DOP', 'DZD',
                        'EGP', 'ERN', 'ETB', 'EUR',
                        'FJD', 'FKP',
                        'GBP', 'GEL', 'GGP', 'GHS', 'GIP', 'GMD', 'GNF', 'GTQ', 'GYD',
                        'HKD', 'HNL', 'HRK', 'HTG', 'HUF', 
                        'IDR', 'ILS', 'IMP', 'INR', 'IQD', 'IRR', 'ISK',
                        'JEP', 'JMD', 'JOD', 'JPY',
                        'KES', 'KGS', 'KHR', 'KMF', 'KPW', 'KRW', 'KWD', 'KYD', 'KZT',
                        'LAK', 'LBP', 'LKR', 'LRD', 'LSL', 'LYD',
                        'MAD', 'MDL', 'MGA', 'MKD', 'MMK', 'MNT', 'MOP', 'MRU', 'MUR', 'MVR', 'MWK', 'MXN', 'MYR', 'MZN',
                        'NAD', 'NGN', 'NIO', 'NOK', 'NPR', 'NZD', 
                        'OMR',
                        'PAB', 'PEN', 'PGK', 'PHP', 'PKR', 'PLN', 'PYG',
                        'QAR',
                        'RON', 'RSD', 'RUB', 'RWF',
                        'SAR', 'SBD', 'SCR', 'SDG', 'SEK', 'SGD', 'SHP', 'SLL', 'SOS', 'SRD', 'SSP', 'STD', 'STN', 'SVC', 'SYP', 'SZL',
                        'THB', 'TJS', 'TMT', 'TND', 'TOP', 'TRY', 'TTD', 'TWD', 'TZS',
                        'UAH', 'UGX', 'USD', 'UYU', 'UZS', 
                        'VES', 'VND', 'VUV', 
                        'WST', 
                        'XAF', 'XAG', 'XAU', 'XCD', 'XDR', 'XOF', 'XPD', 'XPF', 'XPT',
                        'YER',
                        'ZAR', 'ZMW', 'ZWL')


    A wrapper function to retrieve information about how a list of currencies fluctuate on a specific base at a specific amount on a day-to-day basis from the Exchange rates API. The maximum allowed timeframe is 366 days.
    
    Parameters:
    -----------
    start_date: The start date of your preferred fluctuation timeframe (e.g. start='2020-01-01'). 
    end_date: The end date of your preferred fluctuation timeframe (e.g. end='2020-01-01').
    base: Changing base currency. Enter the three-letter currency code of your preferred base currency (e.g. base='USD').
    symbols: Enter a list of comma-separated currency codes to limit output currencies (e.g., symbols=c('USD','EUR','CZK')]
    amount: The amount to be converted (e.g., amount=1200).

    Returns:
    --------
    A dataframe with the columns `Start`, `End`, `Base`, `Change`, and `ChangePct`.
    Start: Start date.
    End: End date.
    Base: Changing base currency.
    Rates.start_rate: Rates at the start date.
    Rates.end_rate: Rates at the end date.
    Rates.change: Rates.start_rate-Rates.end_rate.
    Rates.change_pct: (Rates.start_rate-Rates.end_rate)/Rates.start_rate
    Amount: The amount to be converted

In [56]:
fluctuation <- function(start, end, base='EUR', symbols='', amount=1) {
    if(base %in% currency_code_vector == FALSE){
        warning("Invalid base currency name in base!")
        return ("Error")
        }

    if(all(unlist(strsplit(symbols, ",")) %in% currency_code_vector) == FALSE){
        warning("Invalid currency names in symbols!")
        return ("Error")
        }

    if(is.numeric(amount) == FALSE){
        warning("Input a number!")
        return ("Error")
        }

    url<-paste('https://api.exchangerate.host/fluctuation?start_date=',start,'&end_date=',end,'&base=',base,'&symbols=',symbols,'&amount=',amount,"&places=2",sep="")
    data <- fromJSON(url)

    if(data$success!=TRUE){
        warning("Error in connecting to the API!")
        return ("Error")
    }

    if(length(data$rates)==0){
        warning("Error in the parameter, please check!")
        return ("Error")
    }
    
    start <- as.Date(start)
    end <- as.Date(end)
    if(difftime(end, start, units = "days")>366){
        warning("Error in the timeframe! The maximum allowed is 366 days!")
        return ("Error")
    }

    data <- data.frame('Start' = data$start_date, 'End' = data$end_date, 'Base' = base, 'Amount' = amount, 'Rates' = do.call(rbind, data$rates))
    return (data)
}

In [57]:
fluctuation <- fluctuation('2022-01-01','2022-02-10')

In [58]:
head(fluctuation)

    Start      End        Base Amount Rates.start_rate Rates.end_rate
AED 2022-01-01 2022-02-10 EUR  1      4.18             4.2
AFN 2022-01-01 2022-02-10 EUR  1      118.01           106.84
ALL 2022-01-01 2022-02-10 EUR  1      121.3            121.2
AMD 2022-01-01 2022-02-10 EUR  1      546.22           549.25
ANG 2022-01-01 2022-02-10 EUR  1      2.05             2.06
AOA 2022-01-01 2022-02-10 EUR  1      626.24           604.3
    Rates.change Rates.change_pct
AED -0.02        0
AFN 11.17        0.09
ALL 0.1          0
AMD -3.03        -0.01
ANG -0.01        0
AOA 21.94        0.04