In [3]:
library(jsonlite)
library(tidyr)
library(ggplot2)

In [4]:
currency_code_vector<-c('AED', 'AFN', 'ALL', 'AMD', 'ANG', 'AOA', 'ARS', 'AUD', 'AWG', 'AZN',
                        'BAM', 'BBD', 'BDT', 'BGN', 'BHD', 'BIF', 'BMD', 'BND', 'BOB', 'BRL', 'BSD', 'BTC', 'BTN', 'BWP', 'BYN', 'BZD',
                        'CAD', 'CDF', 'CHF', 'CLF', 'CLP', 'CNH', 'CNY', 'COP','CRC', 'CUC', 'CUP','CVE','CZK',
                        'DJF', 'DKK', 'DOP', 'DZD',
                        'EGP', 'ERN', 'ETB', 'EUR',
                        'FJD', 'FKP',
                        'GBP', 'GEL', 'GGP', 'GHS', 'GIP', 'GMD', 'GNF', 'GTQ', 'GYD',
                        'HKD', 'HNL', 'HRK', 'HTG', 'HUF', 
                        'IDR', 'ILS', 'IMP', 'INR', 'IQD', 'IRR', 'ISK',
                        'JEP', 'JMD', 'JOD', 'JPY',
                        'KES', 'KGS', 'KHR', 'KMF', 'KPW', 'KRW', 'KWD', 'KYD', 'KZT',
                        'LAK', 'LBP', 'LKR', 'LRD', 'LSL', 'LYD',
                        'MAD', 'MDL', 'MGA', 'MKD', 'MMK', 'MNT', 'MOP', 'MRU', 'MUR', 'MVR', 'MWK', 'MXN', 'MYR', 'MZN',
                        'NAD', 'NGN', 'NIO', 'NOK', 'NPR', 'NZD', 
                        'OMR',
                        'PAB', 'PEN', 'PGK', 'PHP', 'PKR', 'PLN', 'PYG',
                        'QAR',
                        'RON', 'RSD', 'RUB', 'RWF',
                        'SAR', 'SBD', 'SCR', 'SDG', 'SEK', 'SGD', 'SHP', 'SLL', 'SOS', 'SRD', 'SSP', 'STD', 'STN', 'SVC', 'SYP', 'SZL',
                        'THB', 'TJS', 'TMT', 'TND', 'TOP', 'TRY', 'TTD', 'TWD', 'TZS',
                        'UAH', 'UGX', 'USD', 'UYU', 'UZS', 
                        'VES', 'VND', 'VUV', 
                        'WST', 
                        'XAF', 'XAG', 'XAU', 'XCD', 'XDR', 'XOF', 'XPD', 'XPF', 'XPT',
                        'YER',
                        'ZAR', 'ZMW', 'ZWL')


    A wrapper function to obtain the the latest foreign exchange reference rates of a list of currencies on a specific base  at a specific amount on daily basis from the Exchange rates API.
    
    Parameters:
    -----------
    base: Enter the three-letter currency code of your preferred base currency (e.g., base='USD').
    symbols: Enter a list of comma-separated currency codes to limit output currencies (e.g., symbols=c('USD','EUR','CZK')]
    amount: The amount to be converted (e.g., amount=1200).

    Returns:
    --------
    A dataframe with the columns `Date`, `Base`, `Rates`, and `Amount`.

In [5]:
latest_rates <- function(base="EUR", symbols='', amount=1) {
    if(base %in% currency_code_vector == FALSE){
        warning("Invalid base currency name in base!")
        return ("Error")
        }

    if(all(unlist(strsplit(symbols, ",")) %in% currency_code_vector) == FALSE){
        warning("Invalid currency names in symbols!")
        return ("Error")
        }

    if(is.numeric(amount) == FALSE){
        warning("Input a number!")
        return ("Error")
        }

    url<-paste('https://api.exchangerate.host/latest?base=',base,'&symbols=',symbols,'&amount=',amount,"&places=2",sep="")
    data <- fromJSON(url)

    if(data$success!=TRUE){
        warning("Error in connecting to the API!")
        return ("Error")
    }

    if(length(data$rates)==0){
        warning("Error in the parameter, please check!")
        return ("Error")
    }

    data <- data.frame('Date' = data$date, 'Base' = base, 'Rates' = do.call(rbind, data$rates), 'Amount' = amount)
    return (data)
}

In [6]:
latest_rates <- latest_rates('CNH',,5000)

In [7]:
head(latest_rates)

    Date       Base Rates     Amount
AED 2022-02-15 CNH    2889.55 5000
AFN 2022-02-15 CNH   72415.42 5000
ALL 2022-02-15 CNH   84368.07 5000
AMD 2022-02-15 CNH  377553.55 5000
ANG 2022-02-15 CNH    1417.58 5000
AOA 2022-02-15 CNH  415097.34 5000